.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.spinner {
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto;
    }
}